.header{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #F4F7FE;
    /* background-color:#adc6ff; */
  }
  .header-mark {
    width: 50px;
    height: 50px;
  }
  
  .img {
    width: 100%;
    height: auto;
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: Ambit;
  }
  